/* Fount family - DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 90%;
  position: relative;
  left: 18%;
}

.mainClose {
  width: 90%;
  position: relative;
  left: 0px;
  margin: 0 auto;
}

/* utility classes */
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  background: #000000;
  border-radius: 5px;
  padding: 14px 32px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .main {
    width: 90%;
    position: relative;
    left: 0px;
    margin: 0 auto;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .main {
    left: 23%;
  }

  .mainClose {
    width: 90%;
    position: relative;
    left: 0px;
    margin: 0 auto;
  }
}